{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static('css/artistsEdit.css') }}">
<script src="{{ static('js/artistsEditForm.js') }}" async></script>
<script src="{{ static('js/artistConfiguration.js') }}" async></script>
{% endblock %}

{% block content %}
    <p>
        <a href="{{ url('artists') }}">Back to Artists</a>
    </p>
    <artists-edit-form
        csrf-token="{{ session.csrf_token }}"
        save-url="{{ url('api_artists') }}"
        success-redirect-url="{{ url('artists') }}">
        <ul>
        {% for artist in followed_artists %}
            <li>
                <artist-configuration
                    id="{{ artist.uri }}"
                    name="{{ artist.name }}"
                    {% if artist.uri in saved_artists %}saved{% endif %}>
                </artist-configuration>
            </li>
        {% endfor %}
        </ul>
    </artists-edit-form>
{% endblock %}
