{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static('css/artists.css') }}">
<script src="{{ static('js/artistsSyncController.js') }}" async></script>
<script src="{{ static('js/artistDetails.js') }}" async></script>
{% endblock %}

{% block content %}
    <p>
        <a href="{{ url('edit_artists') }}">Edit Saved Artists</a>
    </p>
    <artists-sync-controller
        csrf-token="{{ session.csrf_token }}"
        sync-url="{{ url('api_artists_sync') }}">
        <ul>
        {% for artist in saved_artists %}
            <li>
                <artist-details
                    id="{{ artist.state.id }}"
                    name="{{ artist.details.name }}">
                </artist-details>
            </li>
        {% endfor %}
        </ul>
    </artists-sync-controller>
{% endblock %}
