{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static('css/artistsEdit.css') }}">
<script src="{{ static('js/artistsEditForm.js') }}" async></script>
<script src="{{ static('js/artistConfiguration.js') }}" async></script>
{% endblock %}

{% block content %}
    <artists-edit-form>
        <ul>
        {% for artist in artists %}
            <li>
                <artist-configuration
                    uri="{{ artist.uri }}"
                    name="{{ artist.name }}">
                </artist-configuration>
            </li>
        {% endfor %}
        </ul>
    </artists-edit-form>
{% endblock %}
