{% extends "base.html" %}

{% block head %}
{# <link rel="stylesheet" href="{{ static('css/artistsEdit.css') }}">
<script src="{{ static('js/artistsEditForm.js') }}" async></script>
<script src="{{ static('js/artistConfiguration.js') }}" async></script> #}
{% endblock %}

{% block content %}
    <p>
        <a href="{{ url('edit_artists') }}">Edit Saved Artists</a>
    </p>
    <div>
        <ul>
        {% for artist in saved_artists %}
            <li>
                {{ artist.details.name }}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
